$white:  #fff;
$black:  #000;
$yellow: #FFD75D;
$purple: #CC3BFF;
$green:  #57E426;
$orange: #FAA414;
$green-dark:  #00B67A;
$blue:        #2DD9FF;
$brown:       #704F3B;
$dark-brown:  #6F654E;

$light-brown: #C48958;
$light-gray:  #F8FAFB;
$beige:       #EFE7DA;

$ff-1: 'Montserrat', sans-serif;
$ff-2: 'Roboto', sans-serif;

$container: 1110px;
$container-fluid: 910px;