<footer class="footer">
   <div class="container">
      <div class="footer__wrapp">
         <div class="footer__inner">
            <nav class="nav">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="index.html" class="nav__link">Головна</a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link">Послуги та тарифи</a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link">Корпоративне обслуговування</a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link">Команда</a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link">Работа у нас</a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link">Співпраця</a>
                  </li>
               </ul>
            </nav>
            <ul class="info">
               <li class="info__link">
                  <a href="#">Договір публічної оферти</a>
               </li>
               <li class="info__link">
                  <a href="#">Правила надання послуг</a>
               </li>
               <li class="info__link">
                  <a href="#">Політика конфіденційності</a>
               </li>
            </ul>
            <span class="license">® 2011-2022, Concierge Group ™</span>
         </div>
         <div class="map">
            <svg class="map__icon">
               <use xlink:href="#map"></use>
            </svg>
            <ul class="map__list">
               <li class="map__item map__item--canada">
                  <a href="#" class="map__link">
                     Канада
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--usa">
                  <a href="#" class="map__link">
                     Америка
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--gb">
                  <a href="#" class="map__link">
                     Великобританія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--finland">
                  <a href="#" class="map__link">
                     Фінляндія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--spanish">
                  <a href="#" class="map__link">
                     Іспанія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--peru">
                  <a href="#" class="map__link">
                     Перу
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--brazil">
                  <a href="#" class="map__link">
                     Бразилія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--italy">
                  <a href="#" class="map__link">
                     Італія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--turkish">
                  <a href="#" class="map__link">
                     Турція
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--ukraine">
                  <a href="#" class="map__link">
                     Україна
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--saudi-arabia">
                  <a href="#" class="map__link">
                     Саудівская Аравія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--nepal">
                  <a href="#" class="map__link">
                     Непал
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--japan">
                  <a href="#" class="map__link">
                     Японія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--china">
                  <a href="#" class="map__link">
                     Китай
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--south-africa">
                  <a href="#" class="map__link">
                     Південна Африка
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--india">
                  <a href="#" class="map__link">
                     Індія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--thailand">
                  <a href="#" class="map__link">
                     Таіланд
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
               <li class="map__item map__item--australia">
                  <a href="#" class="map__link">
                     Австралія
                  </a>
                  <svg>
                     <use xlink:href="#dot"></use>
                  </svg>
               </li>
            </ul>
            <div class="rating">
               <span class="rating__title">
                  <svg>
                     <use xlink:href="#trustpilot"></use>
                  </svg>
               </span>
               <ul class="rating__list">
                  <li class="rating__item">
                     <svg>
                        <use xlink:href="#star"></use>
                     </svg>
                  </li>
                  <li class="rating__item">
                     <svg>
                        <use xlink:href="#star"></use>
                     </svg>
                  </li>
                  <li class="rating__item">
                     <svg>
                        <use xlink:href="#star"></use>
                     </svg>
                  </li>
                  <li class="rating__item">
                     <svg>
                        <use xlink:href="#star"></use>
                     </svg>
                  </li>
                  <li class="rating__item">
                     <svg>
                        <use xlink:href="#star"></use>
                     </svg>
                  </li>
               </ul>
               <div class="rating__wrapp">
                  <span class="rating__score">TrustScore <strong>4.8</strong></span>
                  <span class="rating__reviews">329 reviews</span>
               </div>
            </div>
         </div>
         <div class="footer-contact">
            <div class="footer-contact__wrapp">
               <a href="#" class="footer-contact__link">Контакти</a>
               <div class="contact__block">
                  <span class="footer-contact__link footer-contact__link--more more">Більше контактів</span>
                  <ul class="contact__list">
                     <li class="contact__item">
                        <div class="social">
                           <div class="flag">
                              <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                           </div>
                           <div class="social__links">
                              <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Viber">
                                 <svg>
                                    <use xlink:href="#viber"></use>
                                 </svg>
                              </a>
                              <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Whatsapp">
                                 <svg>
                                    <use xlink:href="#whatsapp"></use>
                                 </svg>
                              </a>
                              <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Telegram">
                                 <svg>
                                    <use xlink:href="#telegram"></use>
                                 </svg>
                              </a>
                           </div>
                        </div>
                        <a href="tel:+380442211988" class="contact__link">
                           +38 050 816 4434
                        </a>
                     </li>
                     <li class="contact__item">
                        <img src="assets/images/flags/flag-1.svg" class="contact__img" alt="USA">
                        <a href="tel:+19292371077" class="contact__link">
                           +192 92 371 077
                        </a>
                     </li>
                     <li class="contact__item">
                        <img src="assets/images/flags/flag-2.svg" class="contact__img" alt="Great Britain">
                        <a href="tel:+447418354587" class="contact__link">
                           +447 418 354 587
                        </a>
                     </li>
                     <li class="contact__item">
                        <img src="assets/images/flags/flag-3.svg" class="contact__img" alt="Australia">
                        <a href="tel:+61290995697" class="contact__link">
                           +612 90 995 697
                        </a>
                     </li>
                     <li class="contact__item">
                        <img src="assets/images/flags/flag-4.svg" class="contact__img" alt="Germany">
                        <a href="tel:+493025559878" class="contact__link">
                           +49 302 555 98 78
                        </a>
                     </li>
                     <li class="contact__item">
                        <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                        <a href="tel:+380442211988" class="contact__link">
                           +38 044 22 11 988
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="footer-contact__block">
                  <a href="tel:+380508164434" class="footer-contact__tel">+38 050 81 64 434</a>
                  <div class="social">
                     <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Viber">
                        <img src="assets/images/social/viber.svg" alt="Viber">
                     </a>
                     <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Whatsapp">
                        <img src="assets/images/social/whatsapp.svg" alt="Whatsapp">
                     </a>
                     <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Telegram">
                        <img src="assets/images/social/telegram.svg" alt="Telegram">
                     </a>
                  </div>
               </div>
            </div>
            <div class="footer-contact__wrapp email">
               <a href="mailto:info@conciergegroup.org" class="footer-contact__link">info@conciergegroup.org</a>
               <a href="mailto:conciergegroup.org@gmail.com"
                  class="footer-contact__link">conciergegroup.org@gmail.com</a>
            </div>
            <ul class="footer-contact-social__list">
               <li class="footer-contact-social__item">
                  <a href="#" class="footer-contact-social__link" rel="noopener noreferrer" target="_blanck"
                     title="Apple">
                     <svg class="footer-contact-social__icon">
                        <use xlink:href="#apple"></use>
                     </svg>
                  </a>
               </li>
               <li class="footer-contact-social__item">
                  <a href="#" class="footer-contact-social__link" rel="noopener noreferrer" target="_blanck"
                     title="Play market">
                     <svg class="footer-contact-social__icon">
                        <use xlink:href="#play-market"></use>
                     </svg>
                  </a>
               </li>
               <li class="footer-contact-social__item">
                  <a href="#" class="footer-contact-social__link" rel="noopener noreferrer" target="_blanck"
                     title="Facebook">
                     <svg class="footer-contact-social__icon">
                        <use xlink:href="#facebook"></use>
                     </svg>
                  </a>
               </li>
               <li class="footer-contact-social__item">
                  <a href="#" class="footer-contact-social__link" rel="noopener noreferrer" target="_blanck"
                     title="Instagram">
                     <svg class="footer-contact-social__icon">
                        <use xlink:href="#insta"></use>
                     </svg>
                  </a>
               </li>
               <li class="footer-contact-social__item">
                  <a href="#" rel="noopener noreferrer" target="_blanck" class="footer-contact-social__link"
                     title="LinkedIn">
                     <svg class="footer-contact-social__icon">
                        <use xlink:href="#linkedin"></use>
                     </svg>
                  </a>
               </li>
            </ul>
            <div class="footer-contact__payments">
               <img src="assets/images/payments/pci.svg" alt="PCI" class="footer-contact__payment">
               <img src="assets/images/payments/mastercart.svg" alt="Mastercard" class="footer-contact__payment">
               <img src="assets/images/payments/verified-by-visa.svg" alt="Visa" class="footer-contact__payment">
            </div>
         </div>
      </div>
   </div>
   <div class="footer__bottom">
      <div class="container">
         <div class="footer__block">
            <span>Для нас немає нічого неможливого!</span>
            <form translate="yes" class="footer-form" data-form-footer data-form-lang="ua">
               <div class="form-alert" data-alert-input>
                  <p>Заповніть необхідні поля</p>
                  <div class="btn form-alert__btn">Окей</div>
               </div>
               <div class="footer-form__wrapp">
                  <input type="text" class="footer-form__input --req" name="request" id="request" placeholder="Введіть будь-який запит!">
                  <input type="text" class="footer-form__input _email --req" name="email" autocomplete="email" id="footerEmail" placeholder="Введіть телефон або e-mail">
               </div>
               <button type="submit" class="footer-form__btn btn">Надіслати</button>
            </form>
         </div>
      </div>
   </div>
</footer>
<!-- modal-window -->
<div class="modal-window">
   <div class="container">
      <div class="modal-window__overflow"></div>
      <div class="modal-window__body">
         <button type="button" class="modal-window__close">
            <svg class="modal-window__icon" width="30" height="30">
               <use xlink:href="#cross"></use>
            </svg>
         </button>
         <form class="modal-window__form" data-form-modal data-form-lang="ua">
            <div class="form-alert" data-alert-input>
               <p>Заповніть необхідні поля</span>
               <div class="btn form-alert__btn">Окей</div>
            </div>
            <input type="text" aria-label="Ім'я та Прізвище" class="modal-window__input --req" id="modalName" name="name" placeholder="Ім'я та Прізвище" autocomplete="name">
            <input type="email" aria-label="E-mail" class="modal-window__input _email --req" id="modalEmail" name="email" placeholder="E-mail" autocomplete="email">
            <input type="tel" aria-label="Телефон" class="modal-window__input tel --req" id="modalPhone" name="phone" placeholder="Телефон" autocomplete="tel">
            <textarea class="modal-window__message" name="message" id="modalMessage" placeholder="Коментар"></textarea>
            <button type="submit" class="modal-window__btn btn">Замовити</button>
         </form>
      </div>
   </div>
</div>
<!-- ./modal-window -->