<header class="header page">
   <div class="header__inner">
      <a href="https://conciergegroup.org" class="logo__link">
         <img src="assets/images/logo/logo.svg" alt="Concierge Group" class="logo__img">
      </a>
      <span class="header__title header__title header__title--page">ІВЕНТ КОНСЬЕРЖ</span>
      <button class="header__btn btn open-modal" type="button">Замовити доступ до заходу</button>
      <div class="header-contact">
         <div class="header-contact__links">
            <a href="mailto:info@conciergegroup.org" class="header-contact__link">info@conciergegroup.org</a>
            <a href="mailto:conciergegroup.org@gmail.com" class="header-contact__link">conciergegroup.org@gmail.com</a>
         </div>
         <div class="header-contact__links">
            <div class="header-contact__wrapp">
               <a href="tel:+380508164434" class="header-contact__link">+38 050 81 64 434</a>
               <div class="social">
                  <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Viber">
                     <svg>
                        <use xlink:href="#viber"></use>
                     </svg>
                  </a>
                  <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Whatsapp">
                     <svg>
                        <use xlink:href="#whatsapp"></use>
                     </svg>
                  </a>
                  <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Telegram">
                     <svg>
                        <use xlink:href="#telegram"></use>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="contact__block">
               <span class="header-contact__link header-contact__link--more more">Більше контактів</span>
               <ul class="contact__list">
                  <li class="contact__item">
                     <div class="social">
                        <div class="flag">
                           <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                        </div>
                        <div class="social__links">
                           <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Viber">
                              <svg>
                                 <use xlink:href="#viber"></use>
                              </svg>
                           </a>
                           <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Whatsapp">
                              <svg>
                                 <use xlink:href="#whatsapp"></use>
                              </svg>
                           </a>
                           <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Telegram">
                              <svg>
                                 <use xlink:href="#telegram"></use>
                              </svg>
                           </a>
                        </div>
                     </div>
                     <a href="tel:+380442211988" class="contact__link">
                        +38 050 816 4434
                     </a>
                  </li>
                  <li class="contact__item">
                     <img src="assets/images/flags/flag-1.svg" class="contact__img" alt="USA">
                     <a href="tel:+19292371077" class="contact__link">
                        +192 92 371 077
                     </a>
                  </li>
                  <li class="contact__item">
                     <img src="assets/images/flags/flag-2.svg" class="contact__img" alt="Great Britain">
                     <a href="tel:+447418354587" class="contact__link">
                        +447 418 354 587
                     </a>
                  </li>
                  <li class="contact__item">
                     <img src="assets/images/flags/flag-3.svg" class="contact__img" alt="Australia">
                     <a href="tel:+61290995697" class="contact__link">
                        +612 90 995 697
                     </a>
                  </li>
                  <li class="contact__item">
                     <img src="assets/images/flags/flag-4.svg" class="contact__img" alt="Germany">
                     <a href="tel:+493025559878" class="contact__link">
                        +49 302 555 98 78
                     </a>
                  </li>
                  <li class="contact__item">
                     <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                     <a href="tel:+380442211988" class="contact__link">
                        +38 044 22 11 988
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <ul class="header__langs">
         <li class="header__lang">
            <a href="events.html">Ru</a>
         </li>
         <li class="header__lang">
            <a href="events-eng.html">Eng</a>
         </li>
         <li class="header__lang">
            <a href="events-ua.html">Ua</a>
         </li>
      </ul>
      <div class="burger">
         <div class="burger__menu">
            <span></span>
         </div>
         <div class="burger__wrapp">
            <div class="header-contact">
               <div class="header-contact__links">
                  <a href="mailto:info@conciergegroup.org" class="header-contact__link">info@conciergegroup.org</a>
                  <a href="mailto:conciergegroup.org@gmail.com" class="header-contact__link">conciergegroup.org@gmail.com</a>
               </div>
               <div class="header-contact__links">
                  <a href="tel:+380508164434" class="header-contact__link">+38 050 81 64 434</a>
                  <div class="contact__block">
                     <ul class="contact__list">
                        <li class="contact__item">
                           <div class="social">
                              <div class="flag">
                                 <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                              </div>
                              <div class="social__links">
                                 <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Viber">
                                    <svg>
                                       <use xlink:href="#viber"></use>
                                    </svg>
                                 </a>
                                 <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Whatsapp">
                                    <svg>
                                       <use xlink:href="#whatsapp"></use>
                                    </svg>
                                 </a>
                                 <a href="#" class="social__link" rel="noopener noreferrer" target="_blanck" title="Telegram">
                                    <svg>
                                       <use xlink:href="#telegram"></use>
                                    </svg>
                                 </a>
                              </div>
                           </div>
                           <a href="tel:+380442211988" class="contact__link">
                              +38 050 816 4434
                           </a>
                        </li>
                        <li class="contact__item">
                           <img src="assets/images/flags/flag-1.svg" class="contact__img" alt="USA">
                           <a href="tel:+19292371077" class="contact__link">
                              +192 92 371 077
                           </a>
                        </li>
                        <li class="contact__item">
                           <img src="assets/images/flags/flag-2.svg" class="contact__img" alt="Great Britain">
                           <a href="tel:+447418354587" class="contact__link">
                              +447 418 354 587
                           </a>
                        </li>
                        <li class="contact__item">
                           <img src="assets/images/flags/flag-3.svg" class="contact__img" alt="Australia">
                           <a href="tel:+61290995697" class="contact__link">
                              +612 90 995 697
                           </a>
                        </li>
                        <li class="contact__item">
                           <img src="assets/images/flags/flag-4.svg" class="contact__img" alt="Germany">
                           <a href="tel:+493025559878" class="contact__link">
                              +49 302 555 98 78
                           </a>
                        </li>
                        <li class="contact__item">
                           <img src="assets/images/flags/flag-5.svg" class="contact__img" alt="Ukraine">
                           <a href="tel:+380442211988" class="contact__link">
                              +38 044 22 11 988
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
